#title{
    text-align: center;
    margin:auto;
    font-size: 20px;
}


#artists{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

#searchItunes {
  background-color: white;
  border: black;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: white;
  display: inline-block;
  font-size: 14px;
}

body {
    background-image: url("https://i.ytimg.com/vi/g2y8z7ug0cw/maxresdefault.jpg");
}


#title{
    font-size: 45px;
}
